@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.menu-nav-movil {
  display: none;
}

.menu-nav {
  margin-bottom: 1rem;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 4rem;
  align-items: center;
  display: flex;
  box-shadow: rgba(186, 186, 186, 0.25) 0px 6px 12px -2px, rgba(172, 172, 172, 0.3) 0px 3px 7px -3px;
}
.menu-nav .logo {
  width: 3rem;
}
.menu-nav .logo img {
  width: 2rem;
}
.menu-nav nav {
  width: 75%;
}
.menu-nav nav ul li {
  display: inline;
  padding-right: 1.3rem;
}
.menu-nav nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.menu-nav nav ul li a:hover {
  text-decoration: underline;
}
.menu-nav .iconos-nav {
  width: 20%;
  text-align: right;
  padding-right: 2rem;
}

.categorias {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 18rem;
  background-color: #ebebeb;
  align-items: center;
  display: flex;
}
.categorias .card-categoria {
  width: 15rem;
  height: 12rem;
  background-color: white;
  margin-right: 1rem;
}
.categorias .card-categoria .imagen {
  width: 100%;
  height: 70%;
}
.categorias .card-categoria .imagen img {
  width: 15rem;
  height: 9rem;
}
.categorias .card-categoria .titulo {
  text-transform: uppercase;
  text-align: center;
  padding-top: 1.3rem;
}

.productos {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.productos h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.productos h3 {
  margin-bottom: 3rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(41, 41, 41, 0.8666666667);
}
.productos .cards-productos {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.productos .cards-productos .card-producto {
  margin-right: 2rem;
  height: 30rem;
  width: 25rem;
}
.productos .cards-productos .card-producto div img {
  max-width: 100%;
  width: 100%;
  background-color: rgba(168, 168, 168, 0.2);
}
.productos .cards-productos .card-producto div .nombre-prod {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}
.productos .cards-productos .card-producto div .descripcion {
  font-size: 0.8rem;
  color: rgba(41, 41, 41, 0.8666666667);
  font-weight: 700;
}
.productos .cards-productos .card-producto div .precio {
  font-weight: 700;
}

.comparative-table {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
.comparative-table table {
  margin-bottom: 3rem;
}
.comparative-table table th {
  text-transform: uppercase;
  font-weight: 500;
}
.comparative-table table td {
  color: #6f6f6f;
  font-size: 0.8rem;
  font-weight: 500;
}
.comparative-table table th, .comparative-table table td {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #c3c3c3;
}
.comparative-table table tr td img {
  width: 8rem;
}
.comparative-table table tr .tabla-peque {
  display: none;
}

@media screen and (max-width: 1000px) {
  .menu-nav {
    display: none !important;
  }
  .menu-nav-movil {
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    height: 4rem;
    align-items: center;
    display: flex;
    box-shadow: rgba(186, 186, 186, 0.25) 0px 6px 12px -2px, rgba(172, 172, 172, 0.3) 0px 3px 7px -3px;
  }
  .menu-nav-movil .menu-ocultable {
    margin-left: 1rem;
  }
  .menu-nav-movil .menu-ocultable img {
    width: 2rem;
  }
  .menu-nav-movil .logo {
    width: 85%;
    text-align: center;
  }
  .menu-nav-movil .logo img {
    width: 2rem;
  }
  .categorias {
    overflow: auto;
  }
  .productos .cards-productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .productos .cards-productos .card-producto {
    height: 20rem;
    width: 15rem;
  }
  .productos .cards-productos .card-producto .imagen-producto img {
    max-width: 100%;
    width: 100%;
  }
  table tr .tabla-grande {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .productos .cards-productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .productos .cards-productos .card-producto .imagen-producto img {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .productos .cards-productos {
    display: grid;
    grid-template-columns: 1fr;
  }
  .productos .cards-productos .card-producto .imagen-producto img {
    max-width: 100%;
    width: 100%;
  }
}